<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd" default-lazy-init="true">

    <bean id="MyServer" class="web.struts.login.MyServerImpl"></bean>
    
    <!-- 
    <bean id="login" class="web.struts.login.LoginAction" scope="prototype">
        <property name="ms" ref="MyServer"></property>
    </bean>
    -->
    
</beans>